nav {
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
  justify-content: space-between;
  /* padding: 0 2rem; */
  align-items: center;
}

nav h1 {
}

nav ul {
  /* padding: 2rem; */
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  /* background-color: aqua; */
}

nav ul a {
  padding: 1.4rem;
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-size: 1.35rem;
  /* margin: 40px;   */
}
